<h1><%= @workout.title %></h1>
<% @workout.exercises.each do |exercise| %>
    <a href='/exercises/<%= exercise.id %>'><%= exercise.exercise_name %></a><br>
<% end %>
<% if current_user.id == @workout.user_id || current_user.username == "08fdange" %>
    <a href='/workouts/<%= @workout.id %>/edit'>EDIT</a>
    <form method='post' action="/workouts/<%= @workout.id %>">
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='DELETE'>
    </form>
<% end %>

