<h1><%= @workout.title %></h1>
<% @workout.exercises.each do |exercise| %>
    <a href='/exercises/<%= exercise.id %>'><%= exercise.exercise_name %></a><br>
<% end %>
<a href='/workouts/<%= @workout.id %>/edit'>EDIT</a>
<form method='post' action="/workouts/<%= @workout.id %>">
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='DELETE'>
</form>


