<h1><%= @exercise.exercise_name %></h1>
<p><%= @exercise.description %></p>
<% if @exercise.exercise_type.present? %>   
    <p>Type: <%= @exercise.exercise_type %></p>
<% end %>
<a href='/exercises/<%= @exercise.id %>/edit'>EDIT</a>
<% if admin? %>
    <form method='post' action="/exercises/<%= @exercise.id %>">
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='DELETE'>
    </form>
<% end %>